{% extends "base.html" %}
{% load static i18n %}
{% load miseq_viewer_extras %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="page-header">
      <h1>Projects</h1>
    </div>

    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5><i class="fas fa-sticky-note"></i> Note</h5>
      This page displays all <strong>Projects</strong> your user account has been associated with.
      If you believe you are missing any projects from the following list, please send an email to <strong>forest.dussault@canada.ca</strong>
      to request access.
    </div>

    <div class="list-group">
      <table id="project_table" class="display">
        <thead>
        <tr>
          <th>Project ID</th>
          <th># Samples</th>
          <th>Date Created</th>
          <th>Last Updated</th>
        </tr>
        </thead>
        <tbody>
        {% for project in project_list %}
          <tr>
            <td>
              <a href="{% url 'miseq_viewer:miseq_viewer_project_detail' project.pk %}">
                {{ project.project_id }}
              </a>
            </td>
            <td>
              {{ sample_count_dict|get_item:project.project_id }}
            </td>
            <td data-order="{{ project.created|date:"Y-m-d H:i" }}">
              {{ project.created|date:"d N Y" }}
            </td>
            <td data-order="{{ project.last_updated|date:"Y-m-d H:i" }}">
              {{ project.last_updated|date:"d N Y" }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <br>
    </div>
    <br>
    {% include "miseq_viewer/overview_chart.html" %}
    <br>
  </div>

{% endblock content %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#project_table').DataTable({
        "pageLength": 20
      });
    });
  </script>
{% endblock %}
