{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}
{% block title %}{{ project }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1><strong>Project: </strong>{{ project }}</h1>
    </div>
    <div class="col">
      <h5><strong>Owner: </strong>{{ project.project_owner }}</h5>
      <h5><strong>Created: </strong>{{ project.created }}</h5>
    </div>
  </div>

  <h4>MiSeq Samples</h4>
    <form method="post" action="{% url 'miseq_viewer:miseq_viewer_qaqc_excel' %}">
      {% csrf_token %}
      <input type="hidden" name="sample_list" value="{% for sample in sample_list %}{{ sample.id }},{% endfor %}">
      <button type="submit" class="btn btn-primary"><i
        class="fas fa-download"></i> Download QA/QC Results</button>
    </form>
  <br>
  <table id="sample-table" class="display" style="width:100%">
    <thead>
    <tr>
      <th>Sample ID</th>
      <th>Sample Name</th>
      <th>Run ID</th>
      <th>Yield (Mbp)</th>
      <th>Top RefSeq Hit</th>
      <th>Date Created</th>
    </tr>
    </thead>
    <tbody>
    {% for sample in sample_list %}
      <tr>
        <td>
          <a href="{% url 'miseq_viewer:miseq_viewer_sample_detail' pk=sample.pk %}">
              {{ sample.sample_id }}
          </a>
        </td>
        <td>
            {{ sample.sample_name }}
        </td>
        <td>
            {% if sample.run_id != None %}
              <a href="{% url 'miseq_viewer:miseq_viewer_run_detail' pk=sample.run_id.pk %}">
                  {{ sample.run_id }}
              </a>
            {% else %}
              N/A
            {% endif %}
        </td>
        <td>
            {% if sample in has_sample_log_data %}
                {{ sample.samplelogdata.sample_yield_mbp | floatformat:2 }}
            {% endif %}
        </td>
        <td>
            {% if has_mash_result %}
                {{ sample.mashresult.top_hit }}
            {% endif %}
        </td>
        <td>
            {{ sample.created }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

    {% if minion_sample_list|length > 0 %}
      <br>
      <h4>MinION Samples</h4>
      <table id="minion-sample-table" class="display" style="width:100%">
        <thead>
        <tr>
          <th>Sample ID</th>
          <th>Sample Name</th>
          <th>Run ID</th>
          <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
        {% for sample in minion_sample_list %}
          <tr>
            <td><a href="{% url 'minion_viewer:minion_sample_detail' pk=sample.pk %}">
                {{ sample.sample_id }}
            </a></td>
            <td>{{ sample.sample_name }}</td>
            <td><a href="{% url 'minion_viewer:minion_run_detail' pk=sample.run_id.pk %}">
                {{ sample.run_id }}
            </a></td>
            <td>{{ sample.created }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}

{% endblock content %}


{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script>
      $(document).ready(function () {
          $('#sample-table').DataTable();
          $('#minion-sample-table').DataTable();
      });
  </script>
{% endblock %}
