{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}
{% block title %}{{ project_detail }}{% endblock %}

{% block content %}
  <div class="container">
    <h2>{{ project_detail }}</h2>

    <table id="run_table" class="display" style="width:100%">
      <thead>
      <tr>
        <th>Project ID</th>
        <th>Date Created</th>
        <th>Date Modified</th>
      </tr>
      </thead>
      <tbody>
      {% for run in run_list %}
        {% if run.project_id == project_detail %}
          <tr>
            <td>
              <a href="{% url 'miseq_viewer:miseq_viewer_run_detail' pk_project=project_detail.pk pk=run.pk %}">
                {{ run.run_id }}
              </a>
            </td>
            <td>
              {{ run.created }}
            </td>
            <td>
              {{ run.modified }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}


{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#run_table').DataTable();
    });
  </script>
{% endblock %}
