{% extends "base.html" %}
{% load static i18n %}
{% load miseq_viewer_extras %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}
  <div class="container">

    <div class="page-header">
      <h1>Projects</h1>
    </div>
    <div class="list-group">

      <table id="project_table" class="display">
        <thead>
        <tr>
          <th>Project ID</th>
{#          <th>Project Owner</th>#}
          <th># Samples</th>
          <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
        {% for project in project_list %}
          {% if user.is_staff %}
            <tr>
              <td>
                <a href="{% url 'miseq_viewer:miseq_viewer_project_detail' project.pk %}">
                  {{ project.project_id }}
                </a>
              </td>
{#              <td>#}
{#                {{ project.project_owner }}#}
{#              </td>#}
              <td>
                {{ sample_count_dict|get_item:project.project_id }}
              </td>
              <td>
                {{ project.created }}
              </td>
            </tr>
          {% else %}
            {% for approved_user in approved_users %}
              {% if project == approved_user.project_id %}
                <tr>
                  <td>
                    <a href="{% url 'miseq_viewer:miseq_viewer_project_detail' project.pk %}">
                      {{ project.project_id }}
                    </a>
                  </td>
{#                  <td>#}
{#                    {{ project.project_owner }}#}
{#                  </td>#}
                  <td>
                    {{ sample_count_dict|get_item:project.project_id }}
                  </td>
                  <td>
                    {{ project.created }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
      <br>
    </div>
    {% include "miseq_viewer/overview_chart.html" %}
    <br>
  </div>

{% endblock content %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#project_table').DataTable();
    });
  </script>
{% endblock %}
