{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}
{% block title %}{{ project }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>{{ project }}</h1>
    </div>

    <table id="run_table" class="display" style="width:100%">
      <thead>
      <tr>
        <th>Sample ID</th>
        <th>Sample Name</th>
        <th>Run ID</th>
        <th>Yield (Mbp)</th>
        <th>Date Created</th>
        <th>Date Modified</th>
      </tr>
      </thead>
      <tbody>
      {% for sample in sample_list %}
        <tr>
          <td>
            <a href="{% url 'miseq_viewer:miseq_viewer_sample_detail' pk=sample.pk %}">
              {{ sample.sample_id }}
            </a>
          </td>
          <td>
            {{ sample.sample_name }}
          </td>
          <td>
            <a href="{% url 'miseq_viewer:miseq_viewer_run_detail' pk=sample.run_id.pk %}">
              {{ sample.run_id }}
            </a>
          </td>
          <td>
            {{ sample.samplelogdata.sample_yield_mbp | floatformat:2 }}
          </td>
          <td>
            {{ sample.created }}
          </td>
          <td>
            {{ sample.modified }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}


{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#run_table').DataTable();
    });
  </script>
{% endblock %}
