{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}
{% block title %}{{ run.run_id }}{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="page-header">
      <h1>{{ run }}</h1>
      <a class="btn btn-primary" href="{{ run.sample_sheet.url }}" role="button"><i
        class="fas fa-download"></i> Download SampleSheet.csv
      </a>
    </div>

    <hr>

    <div class="container">
      {% if interop_data_avaiable %}
        <div id="interop-charts">
          {% include "miseq_viewer/qscore_chart.html" %}
        </div>
      {% else %}
        <div class="alert alert-warning" role="alert">
          Could not retrieve InterOp data for {{ run.run_id }}
        </div>
      {% endif %}
    </div>

    <table id="samplesheet-header-table" class="table table-striped table-sm table-compact">
      <thead>
      <tr>
        <th>Header</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      {% for field, value in samplesheet_headers.get_fields %}
        {% if field != 'created' and field != 'modified' and value != "" %}
          <tr>
            <td>{{ field|parse_samplesheet_header_value }}</td>
            <td>{{ value }}</td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>

    <h4>Run Samples</h4>
    <table id="run-table" class="display" style="width:100%">
      <thead>
      <tr>
        <th>Sample ID</th>
        <th>Sample Name</th>
      </tr>
      </thead>
      <tbody>
      {% for sample in sample_list %}
        <tr>
          <td>
            <a href="{% url 'miseq_viewer:miseq_viewer_sample_detail' pk=sample.pk %}">
              {{ sample.sample_id }}
            </a>
          </td>
          <td>
            {{ sample.sample_name }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {##}
    {#    <div class="container">#}
    {#      <h3>Sample Sheet</h3>#}
    {#      {{ samplesheet_df | safe }}#}
    {#    </div>#}
    <br>
  </div>
{% endblock content %}


{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#run-table').DataTable({
        "scrollX": true
      })
    })
  </script>
{% endblock %}
