{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.5.1/css/colReorder.dataTables.min.css">

{% endblock %}

{% block title %}{{ sample }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h1><strong>Sample: </strong>{{ sample }}</h1>
    </div>
    {% if sample.sample_type == 'BMH' %}
      <div class="col">
        <h5><strong>Project: </strong>
          <a href="{% url 'miseq_viewer:miseq_viewer_project_detail' pk=sample.project_id.pk %}">
            {{ sample.project_id }}
          </a>
        </h5>
        <h5><strong>Run: </strong>
          <a href="{% url 'miseq_viewer:miseq_viewer_run_detail' pk=sample.run_id.pk %}">
            {{ sample.run_id }}
          </a>
        </h5>
      </div>
    {% endif %}
  </div>

  <br>

  {# Display alert if sample is part of a merged sample #}
  {% if merged_sample_references %}
    <div class="container">
      {% for merged_sample_reference in merged_sample_references %}
        <div class="alert alert-primary" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5>Merged Sample Detected</h5>
          This sample appears to be a component of the following merged sample:
          <a class="btn btn-outline-primary btn-sm"
             href="{% url 'miseq_viewer:miseq_viewer_sample_detail' pk=merged_sample_reference.pk %}">{{ merged_sample_reference }}</a>

        </div>
      {% endfor %}
    </div>
  {% endif %}

  {#  Merged component dialog #}
  {% if sample.sample_type == 'MER' %}
    <div class="container">
      <h4>Merged Sample Components</h4>
      <ul class="list-group">
        {% for component in sample_components %}
          <a href="{% url 'miseq_viewer:miseq_viewer_sample_detail' pk=component.pk %}"
             class="list-group-item list-group-item-action">{{ component.sample_id }} <i class="fas fa-link"></i></a>
        {% endfor %}
      </ul>
    </div>
    <br>
  {% endif %}

  <div class="container">
    <h4>Sample Details</h4>
    <table id="sample_detail" class="display" style="width:100%">
      <thead>
      <tr>
        <th>Sample Name</th>
        <th>R1</th>
        <th>R2</th>
        <th># Reads</th>
        <th>Sample Yield (Mbp)</th>
        <th>Date Created</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          {{ sample.sample_name | default:"N/A" }}
        </td>
        <td>
          {% if browser_flag == True and sample.fwd_reads != None %}
            <a class="btn btn-outline-primary btn-block" href="{{ sample.fwd_reads.url }}" download role="button"><i
              class="fas fa-download"></i> Download R1
            </a>
          {% else %}
            <a class="btn btn-outline-primary btn-block disabled" href="#" download
               role="button"><i
              class="fas fa-download"></i> Download R1
            </a>
          {% endif %}
        </td>
        <td>
          {% if browser_flag == True and sample.fwd_reads != None %}
            <a class="btn btn-outline-primary btn-block" href="{{ sample.rev_reads.url }}" download role="button"><i
              class="fas fa-download"></i> Download R2
            </a>
          {% else %}
            <a class="btn btn-outline-primary btn-block disabled" href="#" download
               role="button"><i
              class="fas fa-download"></i> Download R2
            </a>
          {% endif %}
        </td>
        <td>
          {{ sample.samplelogdata.number_reads | default:"N/A" }}
        </td>
        <td>
          {{ sample.samplelogdata.sample_yield_mbp | floatformat:2 | default:"N/A" }}
        </td>
        <td>{{ sample.created }}</td>
      </tr>
      </tbody>
    </table>
    <br>
  </div>

  <div class="container">
    {% if assembly_data != None %}
      <h4>Assembly Details
        <!-- Button trigger for assembly pipeline modal -->
        <button type="button" class="btn btn-sm btn-light" data-toggle="modal" data-target="#assemblyModal">
          <i class="fas fa-question-circle fa-lg"></i>
        </button>
      </h4>

      <!-- Assembly Pipeline Modal -->
      <div class="modal fade" id="assemblyModal" tabindex="-1" role="dialog"
           aria-labelledby="assemblyModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="assemblyModalTitle">Assembly Pipeline Overview</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ol>
                <li>QC on reads with <a
                  href="https://jgi.doe.gov/data-and-tools/bbtools/bb-tools-user-guide/bbduk-guide/">BBDuk</a> (adapter
                  trimming/quality filtering)
                </li>
                <li>Error-correction of reads with <a
                  href="https://jgi.doe.gov/data-and-tools/bbtools/bb-tools-user-guide/tadpole-guide/">Tadpole</a></li>
                <li>Assembly of reads with <a href="https://github.com/ncbi/SKESA">SKESA</a></li>
                <li>Polishing of assembly with <a href="https://github.com/broadinstitute/pilon/wiki">Pilon</a></li>
                <li>Assembly metrics with <a href="http://quast.sourceforge.net/quast">QUAST</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <table id="assembly_table" class="display" style="width:100%">
        <thead>
        <tr>
          <th># contigs</th>
          <th>Largest contig</th>
          <th>Total length</th>
          <th>GC (%)</th>
          <th>N50</th>
          <th>Assembly</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{ assembly_data.num_contigs }}
          </td>
          <td>
            {{ assembly_data.largest_contig }}
          </td>
          <td>
            {{ assembly_data.total_length }}
          </td>
          <td>
            {{ assembly_data.gc_percent }}
          </td>
          <td>
            {{ assembly_data.n50 }}
          </td>
          <td>
            <a class="btn btn-outline-primary btn-block" href="{{ sample.sampleassemblydata.assembly.url }}" download
               role="button"><i
              class="fas fa-download"></i> Download
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
    {% endif %}
  </div>

  {% if analysis_samples != None %}
    <div class="container">

      <h4>Associated Analyses</h4>
      {# Consider making this a datatable #}
      <table id="analysis_table" class="display">
        <thead class="thead-light">
        <tr>
          <th>Job Type</th>
          <th>Analysis Page</th>
          <th>Date</th>
          <th>Delete Analysis</th>
        </tr>
        </thead>
        <tbody>
        {% for analysis_sample in analysis_samples %}
          <tr>
            <td>
              {{ analysis_sample.group_id.job_type }}
            </td>
            <td>
              <a class="btn btn-outline-info btn-block"
                 href="{% url 'analysis:analysis_group_detail_view' pk=analysis_sample.group_id.pk %}"
                 role="button"><i
                class="fas fa-link"></i> Link
              </a>
            </td>
            <td>
              {{ analysis_sample.group_id.created }}
            </td>
            <td>
              {# TODO: Implement this delete functionality #}
              <a class="btn btn-outline-danger btn-block disabled"
                 href="#"
                 role="button"><i class="fas fa-trash"></i> Delete
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <br>
  {% endif %}


  {% if sample.sample_type == 'MER' %}
    <div class="container">
      {# TODO: Implement this delete functionality #}
      <a class="btn btn-outline-danger disabled"
         href="#"
         role="button"><i class="fas fa-trash"></i> Delete Merged Sample
      </a>
    </div>
  {% endif %}

  <br>
  <div class="container">
    {# ALERTS #}
    {% if sample.samplelogdata.number_reads < 1000 %}
      <div class="alert alert-danger" role="alert">
        <strong>Danger:</strong> This sample has an unusually small number of reads.
        This will likely cause severe issues with assembly or any other analysis.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  {% endif %}

    {% if browser_flag == False %}
      <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>Warning:</strong> You do not appear to be using Firefox as your web browser. Downloading the R1 and R2
        read files
        is only supported in Firefox.
      </div>
    {% endif %}
  </div>



{% endblock content %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script src="https://cdn.datatables.net/colreorder/1.5.1/js/dataTables.colReorder.min.js"></script>

  {# Datatables #}
  <script>
    $(document).ready(function () {
      $('#sample_detail').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
        "ordering": false,
        "colReorder": {
          enable: true,
        },
      });

      $('#assembly_table').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
        "ordering": false,
        "colReorder": {
          enable: true,
        },
      });

      $('#analysis_table').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
        "ordering": false,
        "colReorder": {
          enable: true,
        },
      });
    });
  </script>

  {# D3.js #}
  <script>
    {# TODO: Visualize R1 and R2 statistics #}
  </script>

{% endblock %}
