{% extends "base.html" %}
{% load static i18n %}

{% block title %}Merge Job Submitted{% endblock %}

{% block content %}

  <div class="alert alert-success" role="alert">
    <h3>Merge job submitted successfully</h3>
    <p>Samples have been queued for merging and
      <a class="btn btn-outline-primary btn-sm" href="/miseq_viewer/sample/{{ merged_sample.pk }}">{{ merged_sample }}</a>
 will be available for usage soon.
    The sample will also be added to the assembly queue once the merging is completed.
    </p>
  </div>

  <br>

  <h3>Components</h3>
  <ul class="list-group">
    {% for sample in group_samples %}
      <a class="list-group-item list-group-item-action">{{ sample.component_id }}</a>
    {% endfor %}
  </ul>

{% endblock content %}


