{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block title %}Sample Merge{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Sample Merge Selection
      <button type="button" class="btn btn-sm btn-light" data-toggle="modal"
              data-target="#selectionModal">
        <i class="fas fa-question-circle fa-lg"></i>
      </button>
    </h1>


    <!-- Merge Selection Modal -->
    <div class="modal fade" id="selectionModal" tabindex="-1" role="dialog" aria-labelledby="selectionModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="selectionModalLabel">Instructions</h5>
            <div class="modal-body">
              <ul>
                <li><strong>Click</strong> to select samples to add to your sample merge group</li>
                <li>Use the <strong>Search</strong> bar to
                  filter the Sample table
                </li>
                <li>Once you have created a selection, click <kbd>Submit</kbd> to merge your selection
                </li>
                <li>
                  Once a merged sample has been submitted, it will be automatically queued in the assembly pipeline
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="alert alert-info" role="alert">
        <p><strong>Currently selected samples:</strong></p>
        <div id="selected-samples" style="overflow-y: scroll; height: 70px"></div>
      </div>
    </div>
  </div>

  <div class="list-group">
    <table id="sample_table" class="display compact">
      <thead>
      <tr>
        <th>Sample ID</th>
        <th>Sample Name</th>
        <th>Run ID</th>
        <th>Project ID</th>
        <th>Top RefSeq Hit</th>
      </tr>
      </thead>
      <tbody>
      {% for sample in sample_list %}
        {% if user.is_staff %}
          <tr>
            <td>
              <a
                href="/miseq_viewer/sample/{{ sample.pk }}">
                {{ sample.sample_id }}
              </a>
            </td>
            <td>
              {{ sample.sample_name }}
            </td>
            <td>
              {{ sample.run_id }}
            </td>
            <td>
              {{ sample.project_id }}
            </td>
            <td>
              {{ sample.sendsketchresult.top_taxName }}
            </td>
          </tr>
        {% else %}
          {% for approved_user in approved_users %}
            {% if sample.project_id == approved_user.project_id %}
              <tr>
                <td>
                  <a
                    href="/miseq_viewer/sample/{{ sample.pk }}">
                    {{ sample.sample_id }}
                  </a>
                </td>
                <td>
                  {{ sample.sample_name }}
                </td>
                <td>
                  {{ sample.run_id }}
                </td>
                <td>
                  {{ sample.project_id }}
                </td>
                <td>
                  {{ sample.sendsketchresult.top_taxName }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      </tbody>
    </table>
  </div>
  <br>
  <button id="submit-button" class="btn btn-block btn-success">Submit</button>
  <br>
{% endblock content %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

  <script>
    $.ajaxSetup({
      headers: {"X-CSRFToken": '{{csrf_token}}'}
    });

    $(document).ready(function () {
      let table = $('#sample_table').DataTable({
        dom: 'Bfrtip',
        buttons: [
          {
            text: 'Select All',
            action: function (e, dt, node, config) {
              $('#sample_table tbody tr').removeClass("selected").toggleClass('selected');
              let selected_samples = table.rows('.selected').data();
              let sample_id_list = generate_id_list(selected_samples);
              $("#selected-samples").text(sample_id_list)
            }
          },
          {
            text: 'Deselect All',
            action: function (e, dt, node, config) {
              $('#sample_table tbody tr').removeClass("selected");
              let selected_samples = table.rows('.selected').data();
              let sample_id_list = generate_id_list(selected_samples);
              $("#selected-samples").text(sample_id_list)
            }
          }
        ],
        pageLength: 20,
      });

      $('#sample_table tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
        let selected_samples = table.rows('.selected').data();
        let sample_id_list = generate_id_list(selected_samples);
        $("#selected-samples").text(sample_id_list)
      });

      $('#submit-button').click(function () {
        let selected_samples = table.rows('.selected').data();

        if (selected_samples.length < 2) {
          alert("Please select at least two samples to proceed.");
          return
        }

        let sample_id_list = generate_id_list(selected_samples);

        $.ajax({
          url: "",
          type: 'POST',
          data: {'sample_id_list': sample_id_list},
        }).done(function (data) {
          if (data.success) {
            window.location.href = data.url;
          }
        })
      });
    });

    function generate_id_list(selected_samples) {
      let sample_id_list = [];
      for (let i = 0; i < selected_samples.length; i++) {
        // Remove HTML tags and whitespace
        let sample_id = selected_samples[i][0].replace(/<(?:.|\n)*?>/gm, '').replace(/\s/g, '');
        sample_id_list.push(sample_id);
      }
      return sample_id_list
    }
  </script>
{% endblock %}
