{% extends "base.html" %}
{% load widget_tweaks %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block title %}Create{% endblock %}

{% block content %}

  <h1>Create New Workbook</h1>

  {# This form is rendered manually to accommodate passing the samples that the user selected to views.py #}
  {# https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html #}
  <form method="post" class="uniForm">
    {% csrf_token %}

    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          {{ error }}
        {% endfor %}
      </div>
    {% endif %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}

        {% if form.is_bound %}
          {% if field.errors %}
            {% render_field field class="form-control is-invalid" %}
            {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {% render_field field class="form-control is-valid" %}
          {% endif %}
        {% else %}
          {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}

    {# Sample Table - populated by django-rest-framework-datatables #}
    {# https://django-rest-framework-datatables.readthedocs.io/en/latest/ #}
    <label for="sample-table" class="col-form-label">Select Samples:</label>
    <table id="sample-table" class="display compact" style="width:100%" data-server-side="true"
           data-ajax="/miseq_viewer/api/samples/?format=datatables">
      <thead>
      <tr>
        <th data-data="sample_id">Sample ID</th>
        <th data-data="sample_name">Sample Name</th>
        <th data-data="project_id.project_id">Project ID</th>
        <th data-data="run_id.run_id">Run ID</th>
        <th data-data="sendsketchresult.top_taxName">Top RefSeq Hit</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    {#  This hidden input is updated on the fly according to samples selected in the above table. Passed to views.py #}
    <input type="hidden" id="sample_id_list" name="sample_id_list" value="">

    <button type="submit" class="btn btn-primary">Submit Workbook</button>
  </form>
  <br>

{% endblock %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script src="https://cdn.datatables.net/scroller/1.5.1/js/dataTables.scroller.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script>
    $.ajaxSetup({
      headers: {"X-CSRFToken": '{{csrf_token}}'}
    });

    $(document).ready(function () {
      // Move the submit button below the sample selection table
      {#$("#submit-id-submit").detach().appendTo("#submit-button-container");#}

      let currently_selected_samples = [];

      let table = $('#sample-table').DataTable({
        dom: 'Blfrtips',
        processing: true,
        pageLength: 15,
        lengthMenu: [[15, 30, 45, 100], [15, 30, 45, 100]],
        columnDefs: [
          {
            "targets": '_all',
            "defaultContent": ""
          }
        ],
        buttons: [
          {
            text: 'Select All',
            action: function (e, dt, node, config) {
              // Apply the the selected status to all rows
              $('#sample-table tbody tr').removeClass("selected").toggleClass('selected');
              let selected_samples = table.rows('.selected').data();

              // Extract sample IDs and remove whitespace
              selected_samples = filter_sample_ids(selected_samples);

              // Update variable storing all currently selected samples with the new selection
              selected_samples.map(x => currently_selected_samples.push(x));
              $("#sample_id_list").val(currently_selected_samples);
            }
          },
          {
            text: 'Deselect All',
            action: function (e, dt, node, config) {
              // Remove selected status from all rows
              $('#sample-table tbody tr').removeClass("selected");

              // Grab currently displayed sample IDs
              let table_data = table.context[0].aoData;
              let currently_displayed_samples = [];
              for (var x = 0; x < table_data.length; x++) {
                currently_displayed_samples.push(table_data[x]._aData.sample_id)
              }
              $("#sample_id_list").val(currently_selected_samples);

              // Remove all rows currently displayed on the sample from currently_selected_samples
              remove_from_id_list(currently_displayed_samples);
            }
          }
        ],
      });

      // Clicking a row will toggle the selected class and update the currently_selected_samples list accordingly
      $('#sample-table tbody').on('click', 'tr', function () {
        // Toggle class
        let row = $(this).toggleClass('selected');

        // Determine if the row is selected or not and store bool in selected_status
        let classes = Array.from(row[0].classList);
        let selected_status = classes.includes('selected');

        // Extract sample_id
        let sample_id = row[0].cells[0].textContent;

        // If selected, add it to the currently_selected_samples array, otherwise remove it
        if (selected_status === true) {
          currently_selected_samples.push(sample_id)
        } else if (selected_status === false) {
          currently_selected_samples = currently_selected_samples.filter(x => x !== sample_id)
        }

        $("#sample_id_list").val(currently_selected_samples);

      });

      // Whenever the table is redrawn, update selected status to reflect previously selected samples
      $(document).on('draw.dt', function (e) {

        // Grab array of sample IDs that are currently displayed on the table
        let table_data = table.context[0].aoData;
        let currently_displayed_samples = [];
        for (var x = 0; x < table_data.length; x++) {
          currently_displayed_samples.push(table_data[x]._aData.sample_id)
        }

        // Get intersection between currently_selected_samples and currently_displayed_samples
        let samples_to_highlight = currently_selected_samples.filter(x => currently_displayed_samples.includes(x));

        // Iterate over table rows apply selected status if they are present in the currently_selected_samples array
        $('#sample-table tbody tr').each(function () {
          let current_row = $(this);
          let sample_id = current_row[0].cells[0].textContent;
          if (samples_to_highlight.includes(sample_id)) {
            current_row.removeClass("selected").toggleClass("selected");
          }
        });

      });

      function filter_sample_ids(sample_list) {
        // Extracts the sample_id value and removes any junk whitespace
        return sample_list.map(x => remove_whitespace(x['sample_id']))
      }

      function remove_whitespace(_string) {
        // Removes whitespace from a string
        return _string.replace(/<(?:.|\n)*?>/gm, '').replace(/\s/g, '');
      }

      function remove_from_id_list(deselected_samples) {
        // Provided with a list of samples, removes them from currently_selected_samples variable
        currently_selected_samples = currently_selected_samples.filter(item => !deselected_samples.includes(item));
        $("#sample_id_list").val(currently_selected_samples);
      }

    })

  </script>

{% endblock %}
