{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block title %}Detail{% endblock %}

{% block content %}
  <h3>{{ workbook.workbook_title }}</h3>

  <form method="post">
    <div class="form-group">
      <label for="workbook-description">Description</label>
      <input type="text" class="form-control" id="workbook-description">
    </div>
    <div class="form-group">
      <label for="workbook-notes">Notes</label>
      <textarea class="form-control" id="workbook-notes" rows="3"></textarea>
    </div>
  </form>

  <table id="sample-table" class="display compact table table-bordered" style="width:100%">
    <thead>
    <tr>
      <th>Sample ID</th>
      <th>Sample Name</th>
      <th>Project</th>
      <th>Run</th>
      <th>Top RefSeq Hit</th>
      <th>Sample Notes</th>
    </tr>
    </thead>
    {% for workbook_sample in workbook.workbook_samples %}
      <tr>
        <td>{{ workbook_sample.sample.sample_id }}</td>
        <td>{{ workbook_sample.sample.sample_name }}</td>
        <td>{{ workbook_sample.sample.project_id }}</td>
        <td>{{ workbook_sample.sample.run_id }}</td>
        <td>{{ workbook_sample.sample.sendsketchresult.top_taxName }}</td>
        <td>
          <div class="form-group samplenotes-field" id="{{ workbook_sample.id }}">
            <textarea class="form-control" rows="3">{{ workbook_sample.sample_notes }}</textarea>
            <br>
            {#            <input type="submit" class="btn btn-default btn-sm samplenotes-submit" value="Save Changes"/>#}
            <button type="submit" class="btn btn-default btn-sm samplenotes-submit">
              Save Changes
              <div id="spinner-parent-{{ workbook_sample.id }}"></div>
            </button>
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

  <script>
    $(document).ready(function () {
        $.ajaxSetup({
          headers: {"X-CSRFToken": '{{csrf_token}}'}
        });

        // Set description field
        $("#workbook-description").val("{{ workbook.workbook_description }}");

        // Update placeholder for text area if the db entry is not empty
        if ("{{ workbook.workbook_notes }}" !== "") {
          $("#workbook-notes").val("{{ workbook.workbook_notes }}");
        } else {
          $("#workbook-notes").attr("placeholder", "Enter Workbook specific notes here").focus().blur();
        }

        // Initialize DataTable
        $("#sample-table").DataTable();

        // Code for updating the "Sample Notes" field on the fly
        // Submit function for workbook note fields
        $(".samplenotes-submit").click(function (e) {
          e.preventDefault();

          // WorkbookSample ID is encoded in the id tag of each parent - grab it here.
          let sample_id = $(this).parent().attr('id');
          console.log(sample_id);

          // Grab text from text field
          let textarea_element = $(this).parent().find("textarea");
          let samplenotes_text = textarea_element[0].value;

          // The API URL is built using the sample_id variable
          let sample_url = "http://" + window.location.host + "/sample_workbooks/api/workbooksamples/" + sample_id + "/";

          // Append loading spinner
          $(("#spinner-parent-" + sample_id)).append('<i class="fas fa-spinner fa-spin"' + 'id="spinner-' + sample_id + '"></i>');

          // Send AJAX PATCH to update the DB via Workbook API
          $.ajax({
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + '{{ request.user.auth_token }}',
            },
            url: sample_url,
            type: 'PATCH',
            data: JSON.stringify({'sample_notes': samplenotes_text}),
            success: function (response, textStatus, jqXhr) {
              console.log("Successfully updated Sample Notes field!");

              // Remove the spinner upon success
              $("#spinner-" + sample_id).remove()

            },
            error:

              function (jqXHR, textStatus, errorThrown) {
                // log the error to the console
                console.log("The following error occured: " + textStatus, errorThrown);
                console.log(jqXHR);
              }

            ,
          })

        })
      }
    )
  </script>
{% endblock %}
