{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}
{% block title %}Analysis Detail{% endblock %}

{% block content %}

  <div class="page-header">

    <div class="row">
      <div class="col">
        <h1><strong>Group ID: </strong>{{ analysis_group.id }}</h1>
      </div>
      <div class="col">
        <h5><strong>User: </strong>{{ analysis_group.user }}</h5>
        <h5><strong>Job Type: </strong>{{ analysis_group.job_type }}</h5>
      </div>
    </div>

  </div>

  <hr>

  {% if analysis_group.job_type == "SendSketch" %}
    <div id="sendsketch-results">
      {% include "analysis/results/sendsketch_results.html" %}
    </div>
  {% elif analysis_group.job_type == "MobRecon" %}
    <div id="mob_recon-results">
      {% include "analysis/results/mob_recon_results.html" %}
    </div>
  {% endif %}

  <br>

{% endblock content %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>

  <script>
    $.ajaxSetup({
      headers: {"X-CSRFToken": '{{csrf_token}}'}
    });

    $(document).ready(function () {
      let table = $('.analysis_table').DataTable({
        dom: 'Bfrtip',
        pageLength: 10,
        scrollX: true,
        paging: false,
        searching: false,
        info: false
      })
    });

  </script>
{% endblock %}
