{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block title %}My Jobs{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>My Jobs</h1>
  </div>

  <table id="job_table" class="display compact">
    <thead>
    <tr>
      <th>Job ID</th>
      <th>Job Type</th>
      <th>Status</th>
      <th>Results</th>
      {# TODO: Fix the date sorting for this - use the DD/MM/YYYY format. See run page html for example #}
     <th>Date Submitted</th>
    </tr>
    </thead>
    <tbody>
    {% for group in analysis_group %}
      <tr>
        <td>{{ group.id }}</td>
        <td>{{ group.job_type }}</td>
        {% if group.job_status == "Complete" %}
          <td>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%">
                Complete
              </div>
            </div>
          </td>
        {% elif group.job_status == "Queued" %}
          <td>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 100%">
                Queued
              </div>
            </div>
          </td>
        {% elif group.job_status == "Working" %}
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                   style="width: 100%">
                Working
              </div>
            </div>
          </td>
        {% elif group.job_status == "Failed" %}
          <td>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%">
                Failed
              </div>
            </div>
          </td>
        {% endif %}
        {% if group.job_status == "Complete" %}
          <td>
            <a href="{% url 'analysis:analysis_group_detail_view' pk=group.pk %}">Results</a>
          </td>
        {% else %}
          <td>N/A</td>
        {% endif %}
        <td>{{ group.created }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br>
{% endblock content %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

  <script>
    $.ajaxSetup({
      headers: {"X-CSRFToken": '{{csrf_token}}'}
    });

    $(document).ready(function () {
      let table = $('#job_table').DataTable({
        pageLength: 20,
        order: [[0, "desc"]]
      })
    });

  </script>
{% endblock %}
