{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}

{% block title %}Analysis{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Analysis Tool Selection</h1>
  </div>

  <div class="card border-success mb-3">
    <div class="card-header"><h4>Analysis Group</h4></div>
    <div class="card-body text-success">
      {% for sample_object in sample_group %}
        <p class="card-text">{{ sample_object.sample_id }}</p>
      {% endfor %}
    </div>
  </div>
  <br>

{% endblock content %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
{% endblock %}
