{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
  {#  <link rel="stylesheet" href="/static/css/sample_select_table.css">#}
{% endblock %}

{% block title %}Downloader Receive{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Here you go Suite</h1>
  </div>

  <div class="card mb-3">
    <div class="card-header"><h4>Download Sample Group</h4></div>
    <div class="card-body text-success" id="sample-list-body">
    </div>
  </div>
  <br>




{% endblock content %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>

  <script>
    $.ajaxSetup({
      headers: {"X-CSRFToken": '{{csrf_token}}'}
    });

    function getCookie(name) {
      let value = "; " + document.cookie;
      let parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }

    $(document).ready(function () {

      console.log(document.cookie);
      let sample_id_list = getCookie('sample_id_list');

      $('#sample-list-body').html(sample_id_list);

    });

  </script>


{% endblock %}


