{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}

{% block title %}Sample Search{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="page-header">
      <h1>Sample Search</h1>
    </div>
    <div class="list-group">

      <table id="sample_table" class="display compact">
        <thead>
        <tr>
          <th>Sample ID</th>
          <th>Sample Name</th>
          <th>Run ID</th>
          <th>Project ID</th>
          <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
        {% for sample in sample_list %}
          {% if user.is_staff %}
            <tr>
              <td>
                <a
                  href="/miseq_viewer/sample/{{ sample.pk }}">
                  {{ sample.sample_id }}
                </a>
              </td>
              <td>
                {{ sample.sample_name|default:"N/A" }}
              </td>
              <td>
                {% if sample.run_id != None %}
                  <a
                    href="/miseq_viewer/run/{{ sample.run_id_id }}">
                    {{ sample.run_id }}
                  </a>
                {% else %}
                  N/A
                {% endif %}
              </td>
              <td>
                {% if sample.project_id != None %}
                  <a
                    href="/miseq_viewer/project/{{ sample.project_id_id }}">
                    {{ sample.project_id }}
                  </a>
                {% else %}
                  N/A
                {% endif %}
              </td>
              {# DATE FORMATTING: https://docs.djangoproject.com/en/2.1/ref/templates/builtins/ #}
              <td data-order="{{ sample.created|date:"Y-m-d H:i" }}">
                {{ sample.created|date:"d N Y" }}
              </td>
            </tr>
          {% else %}
            {% for approved_user in approved_users %}
              {% if sample.project_id == approved_user.project_id %}
                <tr>
                  <td>
                    <a
                      href="/miseq_viewer/sample/{{ sample.pk }}">
                      {{ sample.sample_id }}
                    </a>
                  </td>
                  <td>
                    {{ sample.sample_name|default:"N/A" }}
                  </td>
                  <td> {# TODO: Make this more robust with {% url '' pk=something %} #}
                    {% if sample.run_id != None %}
                      <a
                        href="/miseq_viewer/run/{{ sample.run_id_id }}">
                        {{ sample.run_id }}
                      </a>
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                  <td> {# TODO: Make this more robust with {% url '' pk=something %} #}
                    {% if sample.project_id != None %}
                      <a
                        href="/miseq_viewer/project/{{ sample.project_id_id }}">
                        {{ sample.project_id }}
                      </a>
                    {% else %}
                      N/A
                    {% endif %}
                  </td>
                  {# DATE FORMATTING: https://docs.djangoproject.com/en/2.1/ref/templates/builtins/ #}
                  <td data-order="{{ sample.created|date:"Y-m-d H:i" }}">
                    {{ sample.created|date:"d N Y" }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  <br>

{% endblock content %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#sample_table').DataTable({
        "pageLength": 20,
      });
    });
  </script>
{% endblock %}
