{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}

{% block title %}Sample Search{% endblock %}

{% block content %}

  <div class="container-fluid">

    {% if sample_list.count == 0 %}
      <div class="alert alert-warning" role="alert">
        <h4>No MiSeq samples found matching search term <strong>"{{ search_term }}"</strong></h4>
      </div>
    {% endif %}

    <table id="sample_table" class="display compact">
      <thead>
      <tr>
        <th>Sample ID</th>
        <th>Sample Name</th>
        <th>Run ID</th>
        <th>Project ID</th>
        <th>Top RefSeq Hit</th>
        <th>Date Created</th>
      </tr>
      </thead>
      <tbody>
      {% for sample in sample_list %}
        {% if user.is_staff %}
          <tr>
            <td>
              <a href="{% url 'miseq_viewer:miseq_viewer_sample_detail' pk=sample.pk %}">
                {{ sample.sample_id }}
              </a>
            </td>
            <td>
              {{ sample.sample_name|default:"N/A" }}
            </td>
            <td>
              {% if sample.run_id != None %}
                <a href="{% url 'miseq_viewer:miseq_viewer_run_detail' pk=sample.run_id.pk %}">
                  {{ sample.run_id }}
                </a>
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>
              {% if sample.project_id != None %}
                <a href="{% url 'miseq_viewer:miseq_viewer_project_detail' pk=sample.project_id.pk %}">
                  {{ sample.project_id }}
                </a>
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>
              {% if sample.mashresult != None %}
                {{ sample.mashresult.top_hit }}
              {% endif %}
            </td>
            {# DATE FORMATTING: https://docs.djangoproject.com/en/2.1/ref/templates/builtins/ #}
            <td data-order="{{ sample.created|date:"Y-m-d H:i" }}">
              {{ sample.created|date:"d N Y" }}
            </td>
          </tr>
        {% else %}
          {% for approved_user in approved_users %}
            {% if sample.project_id == approved_user.project_id %}
              <tr>
                <td>
                  <a href="{% url 'miseq_viewer:miseq_viewer_sample_detail' pk=sample.pk %}">
                    {{ sample.sample_id }}
                  </a>
                </td>
                <td>
                  {{ sample.sample_name|default:"N/A" }}
                </td>
                <td>
                  {% if sample.run_id != None %}
                    <a href="{% url 'miseq_viewer:miseq_viewer_run_detail' pk=sample.run_id.pk %}">
                      {{ sample.run_id }}
                    </a>
                  {% else %}
                    N/A
                  {% endif %}
                </td>
                <td>
                  {% if sample.project_id != None %}
                    <a href="{% url 'miseq_viewer:miseq_viewer_project_detail' pk=sample.project_id.pk %}">
                      {{ sample.project_id }}
                    </a>
                  {% else %}
                    N/A
                  {% endif %}
                </td>
                <td>
                  {% if sample.mashresult != None %}
                    {{ sample.mashresult.top_hit }}
                  {% endif %}
                </td>
                {# DATE FORMATTING: https://docs.djangoproject.com/en/2.1/ref/templates/builtins/ #}
                <td data-order="{{ sample.created|date:"Y-m-d H:i" }}">
                  {{ sample.created|date:"d N Y" }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      </tbody>
    </table>
  </div>
  <hr>

  <div class="container-fluid">

    {% if minion_sample_list.count == 0 %}
      <div class="alert alert-warning" role="alert">
        <h4>No MinION samples found matching search term <strong>"{{ search_term }}"</strong></h4>
      </div>
    {% endif %}

    <table id="minion_sample_table" class="display compact">
      <thead>
      <tr>
        <th>Sample ID</th>
        <th>Sample Name</th>
        <th>Run ID</th>
        <th>Project ID</th>
        <th>Date Created</th>
      </tr>
      </thead>
      <tbody>
      {% for min_sample in minion_sample_list %}
        {% if user.is_staff %}
          <tr>
            <td>
              <a href="#">
                {{ min_sample.sample_id }}
              </a>
            </td>
            <td>
              {{ min_sample.sample_name|default:"N/A" }}
            </td>
            <td>
              {% if min_sample.run_id != None %}
                <a href="{% url 'minion_viewer:minion_run_detail' pk=min_sample.run_id.pk %}">
                  {{ min_sample.run_id }}
                </a>
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>
              {% if min_sample.project_id != None %}
                <a href="#">
                  {{ min_sample.project_id }}
                </a>
              {% else %}
                N/A
              {% endif %}
            </td>
            {# DATE FORMATTING: https://docs.djangoproject.com/en/2.1/ref/templates/builtins/ #}
            <td data-order="{{ min_sample.created|date:"Y-m-d H:i" }}">
              {{ min_sample.created|date:"d N Y" }}
            </td>
          </tr>
        {% else %}
          {% for approved_user in approved_users %}
            {% if min_sample.project_id == approved_user.project_id %}
              <tr>
                <td>
                  <a href="#">
                    {{ min_sample.sample_id }}
                  </a>
                </td>
                <td>
                  {{ min_sample.sample_name|default:"N/A" }}
                </td>
                <td>
                  {% if min_sample.run_id != None %}
                    <a href="#">
                      {{ min_sample.run_id }}
                    </a>
                  {% else %}
                    N/A
                  {% endif %}
                </td>
                <td>
                  {% if min_sample.project_id != None %}
                    <a href="#">
                      {{ min_sample.project_id }}
                    </a>
                  {% else %}
                    N/A
                  {% endif %}
                </td>
                {# DATE FORMATTING: https://docs.djangoproject.com/en/2.1/ref/templates/builtins/ #}
                <td data-order="{{ min_sample.created|date:"Y-m-d H:i" }}">
                  {{ min_sample.created|date:"d N Y" }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      </tbody>
    </table>

  </div>

  <br>

{% endblock content %}

{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script>
    window.CSRF_TOKEN = "{{ csrf_token }}";

    {# If there is only one sample returned, just redirect to the relevant sample detail page #}
    {#    {% if sample_list.count == 1 %}#}
    {#      sample_count = Number("{{ sample_list.count }}");#}
    {#      window.location.replace("{% url 'miseq_viewer:miseq_viewer_sample_detail' pk=sample_list.0.pk %}");#}
    {#    {% else %}#}
    $(document).ready(function () {
      $('#sample_table').DataTable({
        "paging": true,
        "searching": false
      });

      $('#minion_sample_table').DataTable({
        "paging": true,
        "searching": false
      });
    });
    {#    {% endif %}#}


  </script>
{% endblock %}
