{% extends "base.html" %}
{% load static i18n %}

{% block title %}Uploader{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Manual MiSeq Upload</h1>
  </div>

  <div class="list-group">
    <a href="{% url 'miseq_uploader:miseq_form' %}"
       class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">Upload MiSeq Run</h4>
      </div>
      <p class="mb-1">Click to manually upload an entire MiSeq run to the database.
        <strong>This will only work for administrators.</strong></p>
    </a>
  </div>

  <br>
{##}
{#  <h3>Single Project, Run, or Sample Uploads</h3>#}
{#  <div class="list-group">#}
{#    <a href="{% url 'miseq_uploader:create_project' %}"#}
{#       class="list-group-item list-group-item-action flex-column align-items-start">#}
{#      <div class="d-flex w-100 justify-content-between">#}
{#        <h4 class="mb-1">Create Project</h4>#}
{#      </div>#}
{#      <p class="mb-1">Click to manually create a project. The project must have a <strong>unique</strong> name not#}
{#        already present in the database.</p>#}
{#    </a>#}
{#    <a href="{% url 'miseq_uploader:run_uploader' %}"#}
{#       class="list-group-item list-group-item-action flex-column align-items-start">#}
{#      <div class="d-flex w-100 justify-content-between">#}
{#        <h4 class="mb-1">Upload Run</h4>#}
{#      </div>#}
{#      <p class="mb-1">Click to manually upload a MiSeq run. This must be attached to an <strong>existing project#}
{#      </strong>, and must also have an accompanying SampleSheet.</p>#}
{#    </a>#}
{#    <a href="{% url 'miseq_uploader:sample_uploader' %}"#}
{#       class="list-group-item list-group-item-action flex-column align-items-start">#}
{#      <div class="d-flex w-100 justify-content-between">#}
{#        <h4 class="mb-1">Upload Sample</h4>#}
{#      </div>#}
{#      <p class="mb-1">Click to manually upload a sample <i>(paired-end .fastq.gz files)</i>. This must be attached to an#}
{#        <strong>existing run</strong> with a SampleSheet which contains a corresponding Sample ID.</p>#}
{#    </a>#}
{#  </div>#}


{% endblock content %}


