{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}


{% block extra_css %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
{% endblock %}

{% block title %}MiSeq Run Directory Upload{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Upload MiSeq Run Directory</h1>
  </div>

  <div class="alert alert-info" role="alert">
    <h5>Upload Instructions</h5>
    <p>
      <strong>NOTE:</strong> For uploads to work, all local run data must be on the same machine as the MiSeq portal
      host machine (Venture).
    </p>
    <hr>
    <ol>
      <li>Retrieve runs for a project from BaseMount with <a
        href="https://github.com/bfssi-forest-dussault/BaseMountRetrieve/">BaseMountRetrieve</a>, or transfer a local
        run from the MiSeq to the host machine.
      </li>
      <li>
        Copy the path to a particular <strong>run</strong> to the input box below, and submit.
      </li>

    </ol>
  </div>

  <form action="{% url "miseq_uploader:miseq_form" %}" method="post" enctype="multipart/form-data"
        onsubmit="showProgress()">
    {% crispy form %}
  </form>

  <div class="jumbotron" id="progress-spinner" style="display:none" align="center">
    <h2>Uploading...</h2>
    <div class="fa fa-sync fa-spin fa-4x"></div>
  </div>


{% endblock content %}


{% block extra_javascript %}
  <script type="text/javascript">
    function showProgress() {
      var div = document.getElementById("progress-spinner");
      if (div.style.display === 'none') {
        div.style.display = '';
      }
      else {
        div.style.display = 'none';
      }
    }
  </script>
{% endblock %}
