{% extends "base.html" %}
{% load static i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
{% endblock %}
{% block title %}{{ run.run_id }}{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="page-header">
      <h1>{{ run }}</h1>
      <a class="btn btn-primary" href="{{ samplesheet.url }}" role="button"><i
              class="fas fa-download"></i> Download SampleSheet.csv
      </a>
    </div>

    <hr>

    <h4>Run Samples</h4>
    <table id="run-table" class="display" style="width:100%">
      <thead>
      <tr>
        <th>Sample ID</th>
        <th>Sample Name</th>
        <th>Project</th>
        <th>Long Reads</th>
        <th>Protocol</th>
        <th>Instrument ID</th>
        <th>Sequencing Kit</th>
        <th>Flowcell</th>
        <th>Created</th>
      </tr>
      </thead>
      <tbody>
      {% for sample in sample_list %}
        <tr>
          <td><a href="{% url 'minion_viewer:minion_sample_detail' pk=sample.pk %}">{{ sample.sample_id }}</a></td>
          <td>{{ sample.sample_name }}</td>
          <td>{{ sample.project_id }}</td>
          <td><a class="btn btn-success" href="{{ sample.long_reads.url }}">Download</a></td>
          <td>{{ sample.run_protocol }}</td>
          <td>{{ sample.instrument_id }}</td>
          <td>{{ sample.sequencing_kit }}</td>
          <td>{{ sample.flowcell_type }}</td>
          <td>{{ sample.created }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br>
  </div>
{% endblock content %}


{% block extra_javascript %}
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
  <script>
      $(document).ready(function () {

          $('#run-table').DataTable({
              "paging": false,
              "searching": false,
              "info": false,
              "ordering": false,
              "colReorder": {
                  enable: true,
              },
          });

      })
  </script>
{% endblock %}
